<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h1>Check the box next to your name and hit submit to check yourself in</h1>
    <form method="post" action="/" id="OURform" onsubmit="return(validate());">

        <label for="student">Choose your name: </label>
        <select name="student" id="student">
            <option></option>

            {%for i in range(0, len)%}
                <option value="{{ students[i] }}"> {{ students[i] }}</option>
            {% endfor %}

        </select>

        <input class="btn btn-success" type="submit" value="submit" readonly>
    </form>
</body>

</html>

<script>
    //open and close at 7 to avoid appearance issues
    //inelegant solution, but I think dealing with scheduler in python script would be difficult
    //There is cooler syntax for lambda function, but it's too cool for me.
    setInterval(function () {
        var date = new Date();
        if (date.getHours() === 7 && date.getMinutes() === 0) {
            location.reload()
        }
        else if (date.getHours() === 9 && date.getMinutes() === 30) {
            location.reload()
        }
    }, 60000); // Repeat every 60000 milliseconds (1 minute)

    //Second method is to make the "submit" button call validate onclick
    //and have validate submit the form
    //form.submit();

    function validate() {
        //get selected student
        selectElement = document.querySelector('#student');
        student = selectElement.options[selectElement.selectedIndex].value;

        if (student) {
            message = "In accordance with the Haverford School Honor Code do you confirm that you are " + student + "?"
        }
        else {
            window.alert("you did not select your name")
            return false
        }
        confirmed = window.confirm(message)

        if (confirmed) {
            return true
        }
        else {
            return false
        }
    }

</script>

<style>
    body {
    /*background-image: url( "{{ url_for('static', filename='img/background.jpg') }}");
    background-image: url('haverford-logo.png');*/
    background-image: url('/static/haverford-logo.png');

    background-repeat: no-repeat;
}
    </style>