<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Check the box next to your name and hit submit to check yourself in</h1>
    <form type="submit" method="post" action="/">
        {%for i in range(0, len)%}
  
            {{ students[i] }}<input type="radio" name="checked" value="{{ students[i] }}"><br>
        <!-- {{ row }} <input type="checkbox" name="checked"></input> -->
        {% endfor %}
        <input type="submit">
    </form>

</body>
</html>

<script>
    function reload(){
        //If time is less than the interval after 6:00
        //If time is less than the interval after 9:30
        if(False){
        location.reload()}
    }
    setInterval(reload, 6000)//60000
</script>